{% extends "_base.html" %}
{% load static %}

{% block title %}About{% endblock title %}
{% block content %}
<img class="bookcover" src="{% static 'images/werner_de_juan.jpg' %}">
<h1> Werner Deichmann Juan </h1>

<p>I am a patent professional with over 14 years of experience specializing in the life sciences sector.</p>
<p>My journey in intellectual property began in the biotech investment space, where I spent a decade deepening my expertise in patent strategy
 </p>
 <p>and analysis. Since then, I’ve continued to collaborate with a range of innovative companies, including a personalized medicine startup,
</p>
<p>  a developer of optic sensors, and a medical device company focused on cardiology. My work primarily involves patentability assessments,
</p>
<p>   prior art and state-of-the-art searches, as well as freedom-to-operate (FTO) analyses and patent landscaping.
</p>
<p> Early in my career, I realized the value of clear, visual summaries in IP reporting—so I taught myself R and Python to build tools 
</p>
<p> that could deliver exactly that. Over the years, I’ve developed data visualizations and analysis methods that go far beyond what standard
</p>
 <p> IP reports offer.</p>
<br>
<a href="https://www.linkedin.com/in/werner-deichmann-juan-52667433/" target="_blank">Linkedin page</a>
<br>
<br>
<div class="alert alert-info mt-4" role="alert">
  <p class="mb-0">
    Should you have any inquiries, wish to propose a collaboration, or suggest enhancements to the analyses presented herein, 
    you are most welcome to <a href="mailto:wernerdjuan@gmail.com" class="alert-link">contact me</a>.
  </p>
  </p>
</div>

{% endblock content %}
